
.main {
    margin-top: 50px;
    padding: 1.5rem 0;
  }
  
  .whatsapp-container {
    display: flex;
    margin: 15px;
    position: fixed;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    &:hover {
      font-size: 6rem;
    }
    &__img {
      width: 4rem;
    }
  }