

.card{
    margin: 2rem;
    border-radius: 3%;
    overflow: hidden;
    box-shadow: 6px 5px 7px rgb(65, 64, 64);
    transition: all 0.6s;
    &__header{
        height: 290px;
        width: 100%;
        &:hover {
            transform: scale(0.99);
        }
    }
    &__img {
        height: 290px;
        -o-object-fit: contain;
           object-fit: contain;
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
        background-color: white;
        cursor: pointer;
      }
    &__body {
        padding: 1rem;
        overflow: hidden;
    }
    &__tittle {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 1rem;
        border-bottom: 3px solid orangered;
        padding-bottom: 10px;
      }
    &__description {
        padding: 1.5rem 0 2rem;
        font-size: 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    &__price {
        padding-top: 10px;
        font-weight: 500;
        font-size: 1.5rem;
        color: black;
        padding-left: 5rem;
      }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
      }
    &__date {
        font-size: 1.3rem;
        padding-top: 1rem;
        color: orangered;
      }
    &__btn {
        background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
        padding: 1rem 1.5rem;
        color: white;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.1rem;
        border-radius: 7px;
        border: 2px solid black;
        transition: all 0.5s ease-in-out;
      }
}