$color-bg-primary: gold;
$color-bg-secondary: rgb(35,35,35);
$color-bg-btn-container: #111d3d;
$color-text-light: #fff;
$color-bg-card: #e6eaee;
$color-dark-gray: #333;
$color-bg-warning: #ff851b;
$color-bg-danger: rgb(228, 66, 17);
$color-bg-shadows: rgb(80, 78, 78);
$text-lg: 1.5rem;
